
h1 {
	padding-left: 20px;
}

.panel-default{
	color:#000000;
	margin-right: 70px;
	text-align: center;
}

.panel-title{
	color:#4aaaa5;
}

a {
	color:gray;
}
.navbar-brand {
	color: #45555a;
	padding-left: 90px;
}

@media screen and (max-width: 500px) {
	body{
		background-color:red;
	}